name: Deploy Frontend Node.js App - erasmus-cc2025-ui

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Install dependencies and prepare files
        run: |
          ARTIFACT_NAME=node-release.zip
          cd src/main/resources/static
          npm install
          zip -r $ARTIFACT_NAME . 
          mv $ARTIFACT_NAME $GITHUB_WORKSPACE/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: node-release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'erasmus-cc2025-ui'
          slot-name: 'Production'
          package: node-release.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7ED022949DB449D5BF779F71A2E48126 }}