name: Deploy Frontend React - erasmus-cc2025-ui

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies and build

        env:
          REACT_APP_API_URL: "https://p3-ui.azurewebsites.net"
        run: |
          cd src/main/resources/static
          npm install
          REACT_APP_API_URL=$REACT_APP_API_URL npm run build
          zip -r ../../../../node-release.zip build/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: node-release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'p3-ui'
          slot-name: 'Production'
          package: node-release.zip
          publish-profile: ${{ secrets.AZURE_PUBLISHPROFILE }}